html,body {
  height: 100%;
  width: 100%;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.bs-header {
  position: relative;
  padding: 30px 15px;
  font-size: 20px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

.bs-header h1 {
  margin-top: 0;
  color: #fff;
}

.bs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.media-object {
  width: 128px;
  height: 128px;
  border-radius: 5px;
}

.media .thumbnail {
  display: inline-block;
  margin-bottom: 0;
}

.media-list {
  text-align: center;
}

@media (min-width: 450px) {
  .media-list {
    text-align: left;
  }

  .media .thumbnail {
    float: left;
    margin-right: 25px;
  }
}

.media:first-child {
  margin-top: 15px;
}

.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

a {
  color: #563d7c;
}

a:hover,
a:focus {
  color: #1d1429;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #563d7c;
}

/*
  Page Loader
*/

.page-loader {

  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 4px solid #ddd;
  border-right-color: transparent;
  border-radius: 50%;
  text-indent: -1000px;
  display: block;
  position: fixed;
  top:50%;
  left:0;
  right:0;
  margin: auto;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


/*
  LAYOUT
*/

#sidebar {
  overflow: scroll;
  position: fixed;
    width: 320px;
    height: 100%;
    left: 0;
    border-right: 1px solid #eee;
}



#content {
  margin-left: 320px;
  overflow: hidden;
}

.contact-list {
  list-style: none;
  padding: 0 ;
  margin: 64px 0 47px;

}

.contact-list-item {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.contact-list-item--content{
  padding: 12px;
}

.contact-list-item:hover {
  background: #f8f8f8;
}
.contact-list-item--info {
  float: left;
  margin-left: 8px;
}

.contact-list-item--thumbnail {
  float:left;
}

.contact-list-item--thumbnail img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.contact-list-item--title {
  font-size:18px;
  margin-top: 12px;
  margin-bottom: 4px;
  padding: 0;
}


.sidebar-header {
  height: 64px;
  width: 320px;
  position: fixed;
  top:0;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.sidebar-header--title {
  padding: 0;
  margin: 0;
  line-height: 64px;
  font-size: 20px;
  text-align: center;
}
.sidebar-bottom {
  box-sizing: border-box;
  position: fixed;
  padding: 0;
  bottom: 0;
  height: 48px;
  width: 320px;
  display: block;
  background: #fafafa;
  border-top: 1px solid #eee;
}

.new-contact-button {
  display: block;
  text-align: center;
  line-height: 48px;
  background: #fafafa;
  color: #aaa;
  font-size: 17px;
}

.new-contact-button:active,
.new-contact-button:visited,
.new-contact-button:hover {
  text-decoration: none;
  color: #999;
}

.new-contact-button:before {
  content: "+";
  margin-right:8px;
  font-size: 20px;
  color: #aaa;
}

.new-contact-button:hover:before{
  color: #999;
}

.page-title {
  position: fixed;
  top: 0;
  right: 0;
  left: 320px;
  background: #fff;
  height: 64px;
  margin: 0;
  padding: 0 0 0 24px;
  line-height: 64px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.page-content {
  padding: 96px 48px 0;
}

.edit-contact--thumbnail {
  display: block;
  text-align: center;
  width:100%;
  margin-bottom: 24px;
}

.edit-contact--thumbnail img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.contact-detail--info {
  margin-top: 24px;
}

.contact-detail--action .btn {
  margin-right:8px;
}
